{# <li class="nav-item dropdown">
    {# <a href="{{path('inventory_for_institution', {'id' : institution.id } )}}" class="nav-link">Inventory</a>
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownForInstitution" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Inventory
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownForInstitution">
        <a href="" class="dropdown-item">Toegewezen</a>
        <a href="" class="dropdown-item">Nog toe te wijzen</a>
    </div>
</li> #}
{# <li class="nav-item">
    <a href="{{path('field_service_for_institution', {'id' : institution.id } )}}" class="nav-link">Field Services</a>
</li> #}
{# <li class="nav-item">
    <a href="" class="nav-link">Gebruikers</a>
</li>
<li class="nav-item">
    <a href="{{path('order_for_institution', {'id' : institution.id } )}}" class="nav-link">School Orders</a>
</li> #}