{# <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Inventory
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a href="" class="dropdown-item" >Toegewezen</a>
        <a href="" class="dropdown-item">Nog toe te wijzen</a>
    </div>
</li> #}

{# <li class="nav-item">
    <a href="{{path('field_service')}}" class="nav-link">Field Services</a>
</li> #}
{# <li class="nav-item">
    <a href="" class="nav-link">Gebruikers</a>
</li>
<li class="nav-item">
    <a href="{{path('order')}}" class="nav-link">School Orders</a>
</li> #}