<!--importUser-->
<div class="modal fade" id="importUser" tabindex="-1" aria-labelledby="modalimportUser" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe  class="embed-responsive-item" id="vidImportUser" title="vimeo-player" src="https://player.vimeo.com/video/643549685?h=1e941c3d9b" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

<!--addLocation-->
<div class="modal fade" id="addLocation" tabindex="-1" aria-labelledby="modaladdLocation" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe  class="embed-responsive-item" id="vidaddLocation" title="vimeo-player" src="https://player.vimeo.com/video/643549731?h=3f3051b37f" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

<!--notByod-->
<div class="modal fade" id="notByod" tabindex="-1" aria-labelledby="modalnotByod" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe  class="embed-responsive-item" id="vidnotByod" title="vimeo-player" src="https://player.vimeo.com/video/643549779?h=3dc91bc2d1" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

<!--addM4SUser-->
<div class="modal fade" id="addm4suser" tabindex="-1" aria-labelledby="modaladdm4suser" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe  class="embed-responsive-item" id="vidaddm4suser" title="vimeo-player" src="https://player.vimeo.com/video/643549849?h=9300904ecb" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

<!--hardwarehash-->
<div class="modal fade" id="hardwarehash" tabindex="-1" aria-labelledby="modalhardwarehash" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe  class="embed-responsive-item" id="vidhardwarehash" title="vimeo-player" src="https://player.vimeo.com/video/643549897?h=ff6bcfd789" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

<!--imageintakes-->
<div class="modal fade" id="imageintakes" tabindex="-1" aria-labelledby="modalimageintakes" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe  class="embed-responsive-item" id="vidimageintakes" title="vimeo-player" src="https://player.vimeo.com/video/643549993?h=df34839f5e" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

<!--releasenotes-->
<div class="modal fade" id="releasenotes" tabindex="-1" aria-labelledby="modalreleasenotes" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
            {{ render(controller("App\\Controller\\HomeController::listReleaseNotesAction")) }}
          </div>
      </div>
    </div>
  </div>
</div>