.sidebar {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    background-color: #212121;
    height: 100vh;
    position: sticky;
    top:0;
}

.logo {
    width: 100%;
    padding: 20%;
}

.list {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    flex: 1;
    margin: 2rem 1rem 0 1rem;
}

.listItem {
    display: flex;
    align-content: center;
    color: white;
    margin-bottom: 1rem;
    padding: .3rem;
    gap: 1rem;
}

.listItem:hover {
    cursor: pointer;
}
.itemTitel,.itemIcon{
    display: flex;
    align-items: center;
}
.itemIcon{
    font-size: 1.5rem;
}

.logout {
    margin-top: auto;
}

.subList {
    padding: 0 1rem 0 1rem;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 300ms, opacity 300ms;
}


.show {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 0s, opacity 300ms;
}
.close{
    color: #00adbd;
    font-weight: bold;
}
.none{
    display: none;
}

@media only screen and (max-width:720px){
    .sidebar{
        position: fixed;
        z-index: 1;
        width: 0;
        transition: 0.5s;
    }
    .listItem{
        font-size: 2vw;
    }
    .itemIcon{
        font-size: 2.5vw;
    }
}