.widgetsContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
@media only screen and (max-width:720px){
    .widgetsContainer{
        flex-direction: column;
        align-items: center;
    }
}