{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-danger"><strong>{{'accessdenied'|trans}}</strong></h1>

    <p>
        {{'accessdenieddescription'|trans}} <br />
        <a href="{{ path('home') }}"> {{'gohome'|trans}}</a>.
    </p>
{% endblock %}